{
  "alice": {
    "far-right": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]],
    "center-right": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]],
    "neutral": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]],
    "center-left": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]],
    "far-left": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]]
  },
  "jack": {
    "far-right": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]],
    "center-right": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]],
    "neutral": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]],
    "center-left": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]],
    "far-left": [["abortion", "<post text>"], ["immigration", "<post text>"], ["lgbtq", "<post text>"], ["gun laws", "<post text>"], ["crime", "<post text>"]]
  }
}
